body{
    font-family: Arial, Helvetica, sans-serif;
}

#stopWatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
#stopWatch .timer{
    width: 180px;
    background-color: black;
    color: #fff;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}
#buttons{
    width: 180px;
    background-color: brown;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}
.js-btn-start:hover{
    background-color: #D4AC0D;
}
.js-btn-pause:hover{
    background-color: #D4AC0D;
}
.js-btn-reset:hover{
    background-color:#D4AC0D;
}